<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include("../partials/nav") %>

  <h1>Add New Flight</h1>
  <form action="/flights" method="POST">
    <label>Airline:
      <select name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
      </select>
    </label><br>
    <label>Airport:
      <select name="airport">
        <option value="DEN">DEN</option>
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select>
    </label><br>
    <label>Flight #
      <input type="number" name="flightNo" min="0" max="9999">
    </label><br>
    <label>Departs:
      <input type="date" name="departs">
    </label><br>
    <button type="submit">Add Flight</button>
  </form>
<%- include("../partials/footer") %> 